#base{
  width: auto;
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 2em;
}

#add {

  border-radius: 0.2em;
  margin-left: 50px;
  width: 100px!important;
}

#home{

  width: 100px;
  height: 30px;
  display: inline-flex;
  background-color:  lightseagreen;
  justify-content: center;
  &:hover{
    background-color: #108ee9;
    color: #ffffff;
  }


}
#about{
  width: 100px;
  height: 30px;
  display: inline-flex;
  background-color: lightseagreen;
  justify-content: center;
  &:hover{
    background-color: #108ee9;
    color: #ffffff;
  }

}
#search{
  width: 100px;
  height: 30px;
  display: inline-flex;
  background-color:  lightseagreen;
  justify-content: center;
  &:hover{
    background-color: #108ee9;
    color: #ffffff;
  }

}