#base{
  width: auto;
  height: 200px;
  padding-top: 80px;
}

#home{

  width: 100px;
  height: 30px;
  display: inline-flex;
  background-color:  lightseagreen;
  justify-content: center;
  &:hover{
    background-color: #108ee9;
    color: #ffffff;
  }


}
#about{
  width: 100px;
  height: 30px;
  display: inline-flex;
  background-color: lightseagreen;
  justify-content: center;
  &:hover{
    background-color: #108ee9;
    color: #ffffff;
  }

}
#search{
  width: 100px;
  height: 30px;
  display: inline-flex;
  background-color:  lightseagreen;
  justify-content: center;
  &:hover{
    background-color: #108ee9;
    color: #ffffff;
  }

}