.card{
  img{
    max-width: 380px;
    height: 260px;
    transition: all 0.3s;
    &:hover{
      transform: translateY(5px);
      border-color: #999999;
    }
  }
  .p-title{
    height: 40px;
    font-size: 14px;
    overflow: hidden;
  }
}